<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="serilog:minimum-level" value="Debug" />
		<add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
		<add key="serilog:write-to:RollingFile.pathFormat" value="C:\Users\vkarmendra\AppData\Roaming\TopShelfDemo\log-{Date}.json" />
		<add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
		<add key="serilog:write-to:RollingFile.formatter" value="Serilog.Formatting.Json.JsonFormatter, Serilog" />
	</appSettings>
</configuration>